
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



header{
    


    display: flex;
    align-items: center ;
    gap: 10px; 
}

.css-1jmjcem {
padding: 0px !important;


}

.header-title{
    /* padding-bottom: 0px !important;
    margin-bottom: 0px !important; */
}

.header-name{
    margin-top: 5px !important;
}

.header-wrapper{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    max-width: 197px;
    gap: 10px;
}

.header-title{
    /* font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 300;

line-height: 17px;
letter-spacing: 0.02em;
width: 100%;
max-width: 20px;
color: #B4B5C1; */

}

/* .header-title:not(1){
    color: #B4B5C1;
    font-size: 12px; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 300;

} */


.header-name{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.02em;
color: #B4B5C1;
}



span.header-greetings{
    color: #B4B5C1;
    font-size: 14px; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
font-weight: 300;
}


.hero{
    background-image: url(../Assets/Images/Subtract.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;
    position: relative;
    /* z-index: 10; */
    
    /* width: 470px;
height: 470px; */
}


.main-content{
    background-image: url(../Assets/Images/Subtract.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75%;
    height: 200px;
    background: #E2698D;
border-radius: 12px;
}


.cover {
  
    background-image:  url(../Assets/Images/Subtract\ \(1\).svg), url(../Assets/Images/Subtract.svg), url(../Assets//Images/Subtract\ \(2\).svg);
    background-repeat: no-repeat;
    background-position: left bottom, center top, right bottom;
    height: 200px;
    background-color: #E2698D;
    border-radius: 12px;
  }

  .cover-wrapper{
      display: flex;
      justify-content: space-around;
      padding-top: 72px;
      padding-bottom: 73px;
  }


  .hero-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    /* Accent / Color 2 */
    
    color: #FAFAFA;
  }


  .hero-price{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    
    /* Light / Color 2 */
    
    color: #FFFFFF;
    
  }
